/*
font-family: 'Bebas Neue', cursive;
font-family: 'Gentium Book Plus', serif;
font-family: 'Lobster', cursive;
font-family: 'Splash', cursive;
font-family: 'The Nautigal', cursive;
*/
body{
    background: #654ea3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
margin: 0px;
}
#Banner
{
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    box-shadow: 2px 2px 2px rgb(241, 228, 153);
    color: bisque;
    padding: 10px;
    text-align: center;
}
.footer
{
right: 5px;
bottom: 5px;
position: fixed;
text-align: center;
background-color: crimson;
font-style: italic;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
width: 100%;
font-size: 20px;
}
.box{
    width: 80%;
    background-color: rgb(230, 92, 120);
    text-align: center;
    box-shadow: 3px 3px 20px rgb(109, 234, 213);

}
.Formheading{
    color: rgb(98, 32, 126);
    font-size:50px ;
    font-style: italic;
    font-family: 'The Nautigal', cursive;
    font-weight: bold;

}
img{
    border-radius:50%;
    border: 2px solid rgb(114, 252, 181);
}
.container1{
             padding: 10px;
}
.icon{
    background-color: aqua;
    padding: 10px;
}
.input-field{
    font-size: larger;
    border: 3px solid  rosybrown;
    color: azure;
    border-radius: 30px;
}
.box :hover{
    
    font-size: 20px;
    font-style: italic;
    color: cadetblue;
}